@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: black;

    font-size: calc(8px + 1vh);
    margin-left: 80px;
    margin-top: 30px;
    margin-right: 8px;
    display: inline-block;
}


#contact {
    display: inline-block;
}

#phone {
    display: inline-block;
}

textarea{
    border: 2px solid #a0b3b0;
}


.wrapper {

    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.sendButton {
    font-family: "Poppins", sans-serif;
    background: #3a3a3a ;
    color: white;
    border: 0;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    border-radius: 1px;
 }
.loading {
    display: inline-block;
    margin: -2px 2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 3px solid #3a3a3a;
    border-top-color: transparent;
    animation: spin 800ms infinite linear;
}

